<nav>
    <app-header></app-header>
  
  <!-- Conteúdo principal -->
  <div class="content">
    <!-- Aqui vai o conteúdo da sua página -->
    <h1>Bem-vindo ao nosso site!</h1>
  
    <p>Este é o conteúdo principal da página.</p>
    <div class="video">
    <iframe width="1080" height="720" src="https://www.youtube.com/embed/mzDPNi77F24?si=4jyeKOQkHTnxSWJi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="1080" height="720" src="https://www.youtube.com/embed/itpcsQQvgAQ?si=S8QWTGLXRvgfbrL3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    </div>
  </div>
  
  <app-footer></app-footer>
  
  
  </nav>