<header>
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a href="/">Nintendo</a>
    </div>

    <!-- Navegação -->
    <nav>
      <ul class="nav-list">
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>

    <!-- Ícones de redes sociais -->
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
  </div>
</header>
